    {% extends 'secondhand/base.html' %}

{% block title %}
    Delete Category
{% endblock %}

{% block content %}
    <form
        action="{{ category.get_delete_url }}"
        method="post">
        {% csrf_token %}
        <p>
            Are you sure that you want to delete
            category {{ category }}?
        </p>
        <a href="{{ category.get_absolute_url }}">Cancel</a>
        <button type="submit" class="button button-primary">Delete Category</button>
    </form>
{% endblock %}
