{% extends 'secondhand/base.html' %}

{% block title %}
    Category List
{% endblock %}

{% block create_button %}
    {% if perms.secondhand.add_category %}
    <a
        href="{% url 'secondhand_category_create_urlpattern' %}"
        class="button button-primary">
      Create New Category</a>
    {% endif %}
{% endblock %}

{% block org_content %}
    <h2>Category List</h2>
    {% if perms.secondhand.add_category %}
    <div class="mobile">
      <a href="{% url 'secondhand_category_create_urlpattern' %}"
       class="button button-primary">
          Create New Category</a>
    </div>
    {% endif %}
    <ul>
        {% for category in category_list %}
            <li>
                <a href="{{ category.get_absolute_url }}">{{ category }}</a>
            </li>
        {% empty %}
        <li><em>There are currently no categories available.</em></li>
        {% endfor %}
    </ul>
{% endblock %}
