    {% extends 'secondhand/base.html' %}

{% block title %}
    Delete Order Item
{% endblock %}

{% block content %}
    <form
        action="{{ orderitem.get_delete_url }}"
        method="post">
        {% csrf_token %}
        <p>
            Are you sure that you want to delete
            order Item {{ orderitem }}?
        </p>
        <a href="{{ orderitem.get_absolute_url }}">Cancel</a>
        <button type="submit" class="button button-primary">Delete Order Item</button>
    </form>
{% endblock %}
