{% extends 'secondhand/base.html' %}

{% block title %}
    Error Deleting Product
{% endblock %}

{% block content %}
    <div>
        <h2>Error Deleting Product</h2>
        <p>
            You may not delete Product {{ product }}.  This
            product currently in this cart/order
        </p>

        <ul>
            {% for cartitem in cartitems %}
            <li><a href="{{ cartitem.cart.get_absolute_url }}">cart: {{cartitem.cart}}</a></li>
            {%  endfor %}
        </ul>
        <ul>
            {% for orderitem in orderitems %}
            <li><a href="{{ orderitem.order.get_absolute_url }}">order: {{ orderitem.order}}</a></li>
            {%  endfor %}
        </ul>

        <p>
            Return to <a href="{% url 'secondhand_product_list_urlpattern' %}">Product List</a>.
        </p>
    </div>
{% endblock %}
