    {% extends 'secondhand/base.html' %}

{% block title %}
    Delete User
{% endblock %}

{% block content %}
    <form
        action="{{user.get_delete_url }}"
        method="post">
        {% csrf_token %}
        <p>
            Are you sure that you want to delete
            user {{ user }}?
        </p>
        <a href="{{ user.get_absolute_url }}"
           class="button button-primary">
            Cancel</a>
        <button type="submit" class="button button-primary">Delete User</button>
    </form>
{% endblock %}
