{% extends 'secondhand/base.html' %}

{% block title %}
    Error Deleting User
{% endblock %}

{% block content %}
    <div>
        <h2>Error Deleting User</h2>
        <p>
            You may not delete user {{ user }}.  This
            user currently sells these products or have these orders/favorite lists,
            Please delete them before deleting the user:
        </p>
        <ul>
            {% for product in products %}
            <li><a href="{{ product.get_absolute_url }}">products: {{product}}</a></li>
            {%  endfor %}
        </ul>
        <ul>
            {% for order in orders %}
            <li><a href="{{ order.get_absolute_url }}">orders: {{order}}</a></li>
            {%  endfor %}
        </ul>
        <ul>
            {% for cart in carts %}
            <li><a href="{{ cart.get_absolute_url }}">favorites lists: {{cart}}</a></li>
            {%  endfor %}
        </ul>
        <p>
            Return to <a href="{% url 'secondhand_user_list_urlpattern' %}">User List</a>.
        </p>
    </div>
{% endblock %}
