{% extends 'secondhand/base.html' %}

{% block title %}
    User List
{% endblock %}

{% block create_button %}
    {% if perms.secondhand.add_user %}
    <a
        href="{% url 'secondhand_user_create_urlpattern' %}"
        class="button button-primary">
      Create New User</a>
    {% endif %}
{% endblock %}

{% block org_content %}
    <h2>User List</h2>
    {% if perms.secondhand.add_user %}
    <div class="mobile">
      <a href="{% url 'secondhand_user_create_urlpattern' %}"
      class="button button-primary ">
          Create New User</a>
    </div>
    {% endif %}
    <ul>
        {% for user in user_list %}
            <li>
                <a href="{{ user.get_absolute_url }}">{{ user }}</a>
            </li>
        {% empty %}
        <li><em>There are currently no users available.</em></li>
        {% endfor %}
    </ul>
{% endblock %}
